[submodule "ext/mathematical/lasem"]
  path = ext/mathematical/lasem
  url = https://github.com/specificationDeploy/lasem
  ignore = dirty
  branch = main
[submodule "ext/mathematical/mtex2MML"]
  path = ext/mathematical/mtex2MML
  url = https://github.com/specificationDeploy/mtex2MML
  ignore = dirty
  branch = main
